body {
    margin: 0;
}

.container {
    background-color: #242424;
    width: 100%;
    height: 550px;
    margin: 100px 0;
}

.img {

    display: flex;
    justify-content: center;
    position: relative;

}

.img img {
    width: 66%;
    height: 550px;

}

.icon-left {
    display: flex;
    position: absolute;
    left: 19px;
    bottom: 13px;
    gap: 30px;
    cursor: pointer;
    align-items: flex-end;
}
<<<<<<< HEAD

.icon-left i {
    color: beige;
}

.icon-right {
=======
.icon-left i{
    color:beige;
}
.icon-right{
>>>>>>> origin/master
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 13px;
    gap: 30px;
    cursor: pointer;
}
<<<<<<< HEAD

.icon-right i {
    color: beige;
}

.range-element {
=======
.icon-right i{
    color:beige;
}
.range-element{
>>>>>>> origin/master
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 30px;

}
<<<<<<< HEAD

.range {
    display: block;
    width: 100%;
    margin: 10px 0;

}

.tooltip {
=======
 .range {
     display: block;
     width: 100%;
     margin: 10px 0;

 }
.tooltip{
>>>>>>> origin/master
    display: flex;
    position: relative;


<<<<<<< HEAD
}

.tool {
=======

}
.tool{
>>>>>>> origin/master
    position: absolute;
    background-color: rgba(37, 35, 35, 35%);
    color: white;
    width: 70px;
    text-align: center;
    padding: 5px;
    bottom: 38px;
    left: -27px;
    z-index: 1;
}

<<<<<<< HEAD
.video {
    height: 550px;
}

.pause {
    visibility: hidden;
    bottom: 3px;
    position: absolute;
}

.speed {
    background-color:#eeeeee;
    position: absolute;
    bottom: 45px;
    right: -51px;
    width: 81px;
    padding: 3px 20px;
    border-radius: 10px;
    visibility: hidden;

}

input[type='radio'] {
    margin: 10px;

}
.quality{
    background-color:#eeeeee;
    position: absolute;
    bottom: 45px;
    right: -88px;
    width: 229px;
    padding: 3px 10px;
    border-radius: 10px;
    direction: rtl;
    visibility: hidden;
}
.volume-range{
    padding: 0 5px;
    position: absolute;
    left: 22px;
    bottom: -4px;
    visibility: hidden;
}
.mute{
    visibility: hidden;
    position: absolute;
}

=======
>>>>>>> origin/master
